/* MOBILE PHONES */ /* MOBILE PHONES */ /* MOBILE PHONES */ /* MOBILE PHONES */ /* MOBILE PHONES */ /* MOBILE PHONES */ /* MOBILE PHONES */ /* MOBILE PHONES */ /* MOBILE PHONES */ 
@media only screen and (max-width: 991px)
{
  .nav-link
  {
  position: relative;
  left: 0;
  }
  .navbar-brand
  {
    padding:20px !important;
    padding-left: 5px !important;
    width: 70%;
  }
  .sidebarIMG
  {
    display: none;
  }
  .navbar-dark .navbar-toggler
  {
    color: #f15632 !important;
    border-color: transparent !important;
  }
  .navbar-dark .navbar-toggler-icon
  {
    background-image: url('../images/sidebar.png') !important;
  }
  .carouselDIV
  {
    height: auto !important;
    left: 0;
    top: 0;
  }
  .d-none-sm
  {
    display: none !important;
  }
}
@media only screen and (max-width: 320px)
{
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .sliderWIDTH
  {
    left: 0;
    width: 90% !important;
    margin-top: 130px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 0px;
    font-size: 80px;
    line-height: 75px;
    width: 100%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 90%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: -5px;
  }
  .rowWIDTH
  {
    width: 100%;
    padding: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    top: -415px;
    left: 130px;
    font-size: 15px;
  }
  .arrowWIDTH
  {
    width: 15px !important;
    left: 10px;
  }
}

@media (min-width: 321px) and (max-width: 375px)
{
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .sliderWIDTH
  {
    left: 0;
    width: 90% !important;
    margin-top: 130px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 0px;
    font-size: 95px;
    line-height: 75px;
    width: 100%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 90%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 100%;
    padding: 0px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    top: -355px;
    left: 150px;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
}

@media (min-width: 376px) and (max-width: 425px)
{
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .sliderWIDTH
  {
    left: 0;
    width: 92% !important;
    margin-top: 130px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 0px;
    font-size: 120px;
    line-height: 95px;
    width: 100%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 90%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 100%;
    padding: 0px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    top: -225px;
    left: 175px;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
}
@media (min-width: 426px) and (max-width: 530px)
{
  .navbar-brand
  {
    padding:20px !important;
    padding-left: 5px !important;
    width: 55% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: 100vh !important;
    padding: 50px;
  }
  .sliderWIDTH
  {
    left: 10%;
    width: 82% !important;
    margin-top: 130px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 0px;
    font-size: 115px;
    line-height: 115px;
    width: 100%;
    padding: 5px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 90%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 77%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -92%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -45%;
    top: -185px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}
@media (min-width: 531px) and (max-width: 768px)
{
  .navbar-brand
  {
    padding:20px !important;
    padding-left: 5px !important;
    width: 35% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: auto !important;
    padding: 50px;
  }
  .sliderWIDTH
  {
    left: 10%;
    width: 82% !important;
    margin-top: 130px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 0px;
    font-size: 150px;
    line-height: 115px;
    width: 100%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 90%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 60%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -92%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -47%;
    top: -185px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}
/*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ /*TABLETS*/ 
@media (min-width: 769px) and (max-width: 991px)
{
  .navbar-brand
  {
    padding:20px !important;
    padding-left: 5px !important;
    width: 25% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: auto !important;
    padding: 50px;
  }
  .sliderWIDTH
  {
    left: 10%;
    width: 82% !important;
    margin-top: 130px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 0px;
    font-size: 220px;
    line-height: 155px;
    width: 100%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 100%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 90%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 60%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -92%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -47%;
    top: -185px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}
/* PC AND LABTOP SCREENS */ /* PC AND LABTOP SCREENS */ /* PC AND LABTOP SCREENS */ /* PC AND LABTOP SCREENS */ /* PC AND LABTOP SCREENS */ /* PC AND LABTOP SCREENS */ /* PC AND LABTOP SCREENS */ 
@media (min-width: 992px) and (max-width: 1024px)
{
  .nav-link
  {
    position: relative;
    left: 0px;
    font-size: 17px;
    margin-left: 20px;
  }
  .navbar-brand
  {
    padding:15px !important;
    padding-left: 35px !important;
    width: 25% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: auto !important;
    padding: 0px;
    left: 10%;
  }
  .sliderWIDTH
  {
    left: 42%;
    width: 40% !important;
    margin-top: 130px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 0px;
    font-size: 180px;
    line-height: 155px;
    width: 70%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 55%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 35%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 30%;
    padding-left: 0px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -67%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -46%;
    top: -185px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px)
{
  .nav-link
  {
    position: relative;
    left: 90px;
    font-size: 22px;
    margin-left: 20px;
  }
  .navbar-brand
  {
    padding:15px !important;
    padding-left: 35px !important;
    width: 25% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: auto !important;
    padding: 0px;
    left: 10%;
  }
  .sliderWIDTH
  {
    left: 43%;
    width: 40% !important;
    margin-top: 0px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 150px !important;
    font-size: 180px;
    line-height: 155px;
    width: 70%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 55%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 35%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 20%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -70%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -46%;
    top: -95px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}

@media (min-width: 1281px) and (max-width: 1366px)
{
  .nav-link
  {
    position: relative;
    left: 90px;
    font-size: 22px;
    margin-left: 20px;
  }
  .navbar-brand
  {
    padding:15px !important;
    padding-left: 35px !important;
    width: 25% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: auto !important;
    padding: 0px;
    left: 10%;
  }
  .sliderWIDTH
  {
    left: 43%;
    width: 40% !important;
    margin-top: 0px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 150px !important;
    font-size: 180px;
    line-height: 155px;
    width: 70%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 55%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 35%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 20%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -71%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -46.5%;
    top: -55px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}

@media (min-width: 1367px) and (max-width: 1440px)
{
  .nav-link
  {
    position: relative;
    left: 180px;
    font-size: 22px;
    margin-left: 20px;
  }
  .navbar-brand
  {
    padding:15px !important;
    padding-left: 35px !important;
    width: 25% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: auto !important;
    padding: 0px;
    left: 10%;
  }
  .sliderWIDTH
  {
    left: 43%;
    width: 40% !important;
    margin-top: 0px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 150px !important;
    font-size: 230px;
    line-height: 175px;
    width: 70%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 55%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 10px;
    width: 35%;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 20%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -72%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -47%;
    top: -55px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}

@media (min-width: 1441px) and (max-width: 1680px)
{
  .nav-link
  {
    position: relative;
    left: 280px;
    font-size: 27px;
    margin-left: 20px;
  }
  .navbar-brand
  {
    padding:15px !important;
    padding-left: 35px !important;
    width: 20% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: auto !important;
    padding: 0px;
    left: 10%;
  }
  .sliderWIDTH
  {
    left: 50%;
    width: 35% !important;
    margin-top: 0px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 150px !important;
    font-size: 230px;
    line-height: 175px;
    width: 70%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 20px;
    width: 55%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 15px;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 15%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -73%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -47%;
    top: -55px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}

@media (min-width: 1921px) and (max-width: 2560px)
{
  .nav-link
  {
    position: relative;
    left: 250px;
    font-size: 32px;
    margin-left: 150px;
  }
  .navbar-brand
  {
    padding:15px !important;
    padding-left: 35px !important;
    width: 15% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: 100vh !important;
    padding: 0px;
    left: 10%;
  }
  .sliderWIDTH
  {
    left: 62%;
    width: 25% !important;
    margin-top: 0px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 220px !important;
    font-size: 250px;
    line-height: 175px;
    width: 45%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 35px;
    width: 55%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 10%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -75%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -48%;
    top: -55px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}

@media (min-width: 2561px) and (max-width: 3840px)
{
  .nav-link
  {
    position: relative;
    left: 650px;
    font-size: 42px;
    margin-left: 220px;
  }
  .navbar-brand
  {
    padding:15px !important;
    padding-left: 35px !important;
    width: 10% !important;
  }
  .navbar-dark .navbar-toggler
  {
    position: relative;
    left: 10px !important;
  }
  .carouselDIV
  {
    height: 100vh !important;
    padding: 0px;
    left: 10%;
  }
  .sliderWIDTH
  {
    left: 62%;
    width: 25% !important;
    margin-top: 0px;
    padding: 5px;
  }
  .carouselDIV h1
  {
    margin-top: 220px !important;
    font-size: 290px;
    line-height: 205px;
    width: 35%;
    padding: 13px;
  }
  .carouselDIV h3
  {
    position: relative;
    margin-top: 35px;
    font-size: 35px;
    width: 55%;
    text-align: left;
    color: #f15632 !important;
    padding: 13px;
  }
  .carouselDIV p
  {
    position: relative;
    width: 25%;
    font-size: 20px;
    letter-spacing: 0.2px;
    text-align: left;
    padding: 13px;
  }
  .carouselDIV h4
  {
    font-size: 15px;
    padding: 13px;
    top: 5px;
  }
  .rowWIDTH
  {
    width: 10%;
    padding-left: 13px;
  }
  .iconWIDTH
  {
    width: 30px !important;
  }
  .icon2
  { position: relative;
    top: 3px !important;
  }
  .icon3
  { position: relative;
    top: 5px !important;
  }
  .icon4
  { position: relative;
    top: 6px !important;
  }
  .contact-us
  {
    position: absolute;
    top: 300px;
    left: 0;
    right: -76%;
    font-size: 25px;
  }
  .arrowWIDTH
  {
    width: 25px !important;
    left: 15px;
  }
  .custom_indicators
  {
    position: relative;
    left: -48.8%;
    top: -55px;
  }
  .indicatorMARGIN span
  {
    left: 0px;
  }
}